<section class="hero is-fullheight-with-navbar">
  <div class="hero-body">
      <div class="container has-text-centered">
          <div class="column is-4 is-offset-4">
              <h3 class="title has-text-black">Forgot Password</h3>
              <div class="box">
                  <form [formGroup]="resetForm" (ngSubmit)="onSubmit">
                      <div class="field">
                          <div class="control has-icons-left">
                              <input class="input is-medium" type="text" placeholder="username" formControlName="username">
                              <span class="icon is-small is-left">
                                <i class="fas fa-user-tag"></i>
                              </span>
                          </div>
                      </div>

                      <div class="field">
                          <div class="control has-icons-left">
                              <input class="input is-medium" type="password" placeholder="new password" formControlName="password">
                              <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                              </span>
                          </div>
                      </div>

                      <div class="field">
                        <div class="control has-icons-left">
                            <input class="input is-medium" type="password" placeholder="confirm password" formControlName="confirmPassword">
                            <span class="icon is-small is-left">
                              <i class="fas fa-lock"></i>
                            </span>
                        </div>
                        <div class="has-text-danger add-top-margin" *ngIf="resetForm.errors?.matchesPassword">
                          Passwords do not match.
                        </div>
                    </div>
                      <button class="button is-rounded is-fullwidth is-primary" [disabled]="resetForm.invalid">Reset Password</button>
                  </form>
              </div>
              <p>
                  <a href="../" class="has-text-black" [routerLink]="['/auth/register']"><strong>Sign Up</strong></a> &nbsp;·&nbsp;
                  <a href="../" class="has-text-black" [routerLink]="['/auth/login']"><strong>Sign In</strong></a>
              </p>
          </div>
      </div>
  </div>
</section>