.button {
    padding: 20px;
}

pre {
    white-space: pre-wrap;
}

.pre-wrapper {
    padding-bottom: 20px;
}

.header-titles {
    padding-bottom: 50px;
}

.content .main-text p:last-child {
    padding-bottom: 30px;
}

.tab-over {
    text-indent: 40px;
}

.underlined {
    text-decoration: underline;
}

.pink {
    color: #FA7C91;
}