.vertical-center {
    display: flex;
    align-items: center;
}

.center-text {
    text-align: center;
}

$link: #512888;

@import '../../../../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../../../../node_modules/bulma/sass/base/_all.sass';
